autostart
baloofileinformationrc
btop
chromium
clerk
Code
create-next-app-nodejs
dconf
Docker Desktop
dolphinrc
enchant
filetypesrc
fontconfig
gedit
GIMP
google-chrome
gtk-3.0
gtk-4.0
kdeglobals
kde.org
kiorc
knfsshare
kservicemenurc
ktrashrc
mimeapps.list
nextjs-nodejs
nwg-look
pavucontrol.ini
Postman
pulse
qt5ct
qt6ct
QtProject.conf
sanity
session
stripe
Thunar
transmission
trashrc
vlc
xfce4
xsettingsd
