btop
Code
dconf
Docker Desktop
dolphinrc
enchant
filetypesrc
gedit
GIMP
google-chrome
kdeglobals
kde.org
kiorc
knfsshare
kservicemenurc
ktrashrc
mimeapps.list
nwg-look
pavucontrol.ini
Postman
pulse
qt5ct
qt6ct
QtProject.conf
session
Thunar
trashrc
vlc
xfce4
xsettingsd
