autostart
gtk-3
gtk-4
MongoDB Compass
baloofileinformationrc
btop
chromium
clerk
Code
configstore
create-next-app-nodejs
dconf
Docker Desktop
enchant
filetypesrc
fontconfig
gedit
GIMP
gnome-keyring
google-chrome
gtk-3.0
gtk-4.0
inngest
kiorc
knfsshare
ktrashrc
mimeapps.list
nautilus
nextjs-nodejs
nwg-look
obsidian
pavucontrol.ini
Postman
pulse
qt5ct
qt6ct
QtProject.conf
sanity
session
stripe
systemd
Thunar
transmission
trashrc
turborepo
user-dirs.dirs
user-dirs.locale
vlc
xfce4
xsettingsd
