[Unit]
Description=GNOME Keyring Daemon
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/gnome-keyring-daemon --foreground --components=pkcs11,secrets,ssh,gpg
Restart=on-failure
Environment=XDG_SESSION_TYPE=wayland

[Install]
WantedBy=default.target
